body {
}
#container{
    margin:auto;
    width:90%;
    height:90%;
}
#opening{

}
img{
    width:50px;
    border:1px solid black;
    background-color:white;
}
#p{
    background-color:beige;
    font-size:large;
    border:1px solid black;
}
